<footer class="footer">
  <div class="columns">
    <div class="column">
      <ul class="address">
        <li>Nodland vevstol</li>
        <li>Arvid Nodland / Solveig Nodland</li>
        <li>Hogsrødveien 162</li>
        <li>3158 Andebu</li>
      </ul>
    </div>

    <div class="column">
      <ul class="phones">
        <li>Mobil:</li>
        <li>932 48 550 (Arvid)</li>
        <li>986 85 682 (Solveig)</li>
      </ul>
    </div>
</footer>
